---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section class="fade-in-up-soft about-hero">
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          hi :3 im abhinav. im a 20 year old cs student with way too many interests. this website serves as a way for me to display some of them.
        </p>
        <p>
          im lazy but ill add more here eventually
        </p>
        <p>
          Movie actors puzzled during combat<br>
          Leading man just stutters when he talks<br>
          There were teardrops on his contract<br>
          But there was chicken to defrost<br>
          Hiding in the pedals of amnesia<br>
          Like a flower not in bloom<br>
          You can act like you were swindled<br>
          But I'll remind you of the truth<br>
        </p>
      </div>
      </div>

      <div class="mt-12 flex justify-center">
        <img
          src="/static/ramona.gif"
          alt="Ramona Flowers"
          class="max-h-64 rounded-lg object-contain opacity-90"
          loading="eager"
        />
      </div>
    </div>
  </section>
</Layout>
