---
import SpacePlayground from '@/components/SpacePlayground'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>In the mood for stargazing?</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        overflow: hidden;
        background: #000;
      }
    </style>
  </head>
  <body>
    <SpacePlayground client:only="react" />
  </body>
</html>
